@charset "UTF-8";
body {
  margin: 0;
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  background: #678;
  min-width: 350px;
}
header {
  background: #123;
  text-align: right;
}
header .logo {
  font-family: Playball;
  color: #f0f6f9;
  font-size: 38px;
  float: left;
  margin: 0 20px;
}
nav .breadcrumbs {
  margin: 50px 100px 10px;
}
nav .breadcrumbs a {
  color: #abc;
  margin-right: 5px;
  text-decoration: none;
}
nav .breadcrumbs a:after {
  content: "❯";
  margin-left: 5px;
  color: #89a;
}
nav .breadcrumbs a:last-child {
  margin-right: none;
}
nav .breadcrumbs a:last-child:after {
  content: "";
}
nav .breadcrumbs a:hover {
  color: #bcd;
}
.twitter-login {
  background: #234;
  padding: 10px 25px;
  color: #d3d6d9;
  display: inline-block;
  cursor: pointer;
  border-left: 1px solid #456;
  font-size: 14px;
}
.twitter-login .profile-image {
  vertical-align: middle;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
}
.twitter-login .fa {
  font-size: 2em;
  color: #456;
  vertical-align: -5px;
  margin-left: 10px;
}
.twitter-login:hover {
  background: #345;
}
.list {
  background: white;
  margin: 0px 100px 50px;
  border: 3px solid #abc;
  border-radius: 3px;
  box-shadow: 0px 0px 1px black;
  position: relative;
  min-width: 350px;
}
.list h2 {
  text-align: center;
}
.list .item {
  padding: 10px 20px;
  border-bottom: 1px solid #f0f9ff;
  overflow: hidden;
}
.list .item:last-child {
  border-bottom: none;
}
.list .item.task:hover {
  background: #f0f6f9;
  cursor: pointer;
}
.list .item .item-title {
  width: calc(100% - 150px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.list .add-item form {
  position: absolute;
  top: 100%;
  padding: 10px;
  left: 0px;
  right: 0px;
}
.list .add-item form input {
  width: 50%;
  background: #567;
  border: 1px solid #789;
  padding: 5px;
  border-radius: 14px;
  color: #abc;
  margin: auto;
  display: block;
}
.list .add-item form input:focus {
  outline: none;
}
.main-loading {
  color: #abc;
  font-size: 48px;
  line-height: 80vh;
  text-align: center;
}
.please-signin {
  color: #e0e6ec;
  font-size: 24px;
  margin: 20px;
  text-align: center;
}
.toggle,
.progress {
  float: right;
}
.delete-btn {
  float: right;
  margin-left: 10px;
  font-size: 12px;
  color: #FFA3A3;
}
.fa-toggle-on,
.fa-toggle-off {
  color: #456;
}
.progress {
  width: 100px;
  background: #c0c6cc;
  background: #678;
  height: 10px;
  border-radius: 20px;
  padding: 2px;
}
.progress .complete {
  display: block;
  height: 100%;
  background: #456;
  background: #76CC97;
  border-radius: 5em;
}
